@model SimplePDF.Controllers.JuntarController
<!DOCTYPE html>
<html>
    <head>
        
        <script src="~/js/jquery-3.6.0.js" type="text/javascript"></script>
        <script src="~/js/Juntar.js" type="text/javascript"></script>

    </head>
    <body>
       
        <br />
        <form onload="botaoDownload()">
            <div class="divDownload">
                <a href="@Juntar.nomeArquivo" id="btnDownload" download="merged"><input type="button" value="Baixar Arquivo" class="btnDownload"/></a>
            </div>
        </form>
    </body>
</html>
