<!DOCTYPE html>
<html> 
    <head>
    
        
    </head>
    <body>
        <div class="row" style="height: 100px;">

        </div>
       
            <div class="row divMain" style="vertical-align: middle;">
                
                    <div class="col-md-4 divBotoes">
                        <div>
                            Combine vários arquivos PDF em um único arquivo.
                        </div>
                        <div class="divBtnJuntar">
                            <a asp-controller="Juntar" asp-action="JuntarPDF">
                                <button class="btnsInicio">Juntar PDF</button>
                            </a>
                        </div>
                    </div>


                
                
                    <div class="col-md-4 divBotoes">
                        Escolha páginas para extrair, ou todas.
                        <div class="divBtnDividir">
                           <!-- <a asp-controller="Dividir" asp-action="DividirPDF">-->
                                <button class="btnsInicio">Dividir PDF</button>
                            <!--</a>-->
                        </div>
                    </div>

                   
                    
                    
            </div>
            <br />
           
    </body>
</html>
